{% extends 'clips/base.html' %}
{% load static from staticfiles %}

{% block content %}
    {% for clip in clips %}
        <a href="{% url 'video_detail' pk=clip.pk %}">
            <div class="container">
                <img src="{% static clip.thumb_path %}" alt="Oh no where is the image" width="320" height="220">
            </div>
        </a>
    {% endfor %}

    <div class="bottom">
        <p>Made with love by Teagan Mucher at Occidental College | <a href="https://github.com/temucher/ImeveProject">Code</a></p>
    </div>
{% endblock %}
