<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Imeve Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'clips/css/base.css' %}">
    </head>

    <body>
        <div>
            <a href="{% url 'video_list' %}">
                <img id="title" src="{% static 'clips/images/Imeve_Logo_Orange.png' %}">
            </a>
        </div>
        <div class="clips">
            <video width="320" height="240" controls>
                <source src="{% static clip.file_path %}" type="video/mp4">
            </video>
            <p>path: {{ clip.file_path }}</p>
            <p>Scene: {{ clip.scene }}</p>
            <p>Take: {{ clip.take }}</p>
            <p>Star Rating: {{ clip.starRating }}</p>
            <p>360 Video: {{ clip.is360video }}</p>
        </div>
    </body>
</html>

