#title {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 400px;
}

#title_img {
    width: 100%;
    height: auto;
}


.container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 320px;
}

.clips {
    width: 320px;
    display: block;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
}

.metadata {
    right: 0;
    margin-left: 100px;
    display: inline-block;
}



body {
    background-color: #666666;
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}