#title {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 400px;
}

#title_img {
    width: 100%;
    height: auto;
}

a-videosphere {
    display: block
    width: 50%;
}

#disclaimer {
    text-align: center;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    display: inline-block;
    box-sizing: border-box;
    width: 320px;
}

.clips {
    display: block;
    margin: 0 auto;
    width: 640px;
    height: 360px;
}

.metadata {
    right: 0;
    margin-left: 50px;
    display: inline-block;
}

.meta_container {
    margin-left: 30%;
    margin-right: 30%;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
}

body {
    background-color: #666666;
}

a:link {
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}